body {
  background-color: DarkSeaGreen;
  text-align: center;
}

p {
  color: MidnightBlue;
  font-family: Verdana;
  font-size: 1.4em;
  margin: 25px;
}

img {
  margin: 55px 0 30px 0;
  width: 175px;
}

input {
  width: 200px;
  height: 40px;
  margin: 20px;
  border-radius: 14px;
  font: Verdana;
  text-align: center;
  font-size: 1.5em;
}

input: focus{
  border: solid 5px #00FFCE;
  outline: none;
}

#calculate {
  background-color: green;
  color: white;
  width: 200px;
}

#calculate:hover {
  background-color: lightgreen;
  cursor: pointer;
}
